@model Second_Swap.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home__wrapperHome mt15">

    <div class="ads-create-main-data" style="display: block;">

        <div style="margin-left:10px">
           <h3 style="text-align:center"><strong>Order Detail</strong></h3>


            <div class="ads-create-main-data-title">
                <div class="ads-create-main-data-box-item" style="margin-top: 0px; margin-bottom: 25px;">
                    <p class="ads-create-subtitle">Product Name: @Model.Product.Title</p>                   
                </div>
            </div>

            <div class="ads-create-main-data-title">
                <div class="ads-create-main-data-box-item" style="margin-top: 0px; margin-bottom: 25px;">
                    <p class="ads-create-subtitle">Product Price: @Model.Product.Price</p>                   
                </div>
            </div>

            <div class="ads-create-main-data-title">
                <div class="ads-create-main-data-box-item" style="margin-top: 0px; margin-bottom: 25px;">
                    <p class="ads-create-subtitle">Product Category: @Model.Product.Category.Name</p>                   
                </div>
            </div>

            <div class="ads-create-main-data-title">
                <div class="ads-create-main-data-box-item" style="margin-top: 0px; margin-bottom: 25px;">
                    <p class="ads-create-subtitle">Method Payment: @Model.MethodPayment</p>                   
                </div>
            </div>

            <div class="ads-create-main-data-title">
                <div class="ads-create-main-data-box-item" style="margin-top: 0px; margin-bottom: 25px;">
                    <p class="ads-create-subtitle">Feedback:</p>          
                    @foreach(var feedback in Model.Feedbacks){
                        <p class="ads-create-subtitle">- Quality: @feedback.Quality Star</p>      
                        <p class="ads-create-subtitle">- Comment: @feedback.Comment</p>
                        if(feedback.Video != null){
                            <p class="ads-create-subtitle"  style="margin-top: 0px; margin-top: 25px;">Video Description:</p>
                            <video height="250px" width="500px" controls>
                            <source src="~/Uploads/@feedback.Video" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        }
                    }
                </div>
            </div>
        </div>



        @* <form asp-action="AddOrder" asp-controller="Order" >
            <button class="ads-create-publish btn-color-blue" data-action="ad-create"> <span class="action-load-span-start"> <i class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i> </span>Back</button>
        </form> *@
    </div>
</div
